body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 72px;
}
#welcome{
    color: black;
}
#name{
    color: black;
}
.name-color{
    color: orange;
}
.identity{
    text-align: justify;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.download-resume{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}
.objective{
    text-align: justify;
    padding-right: 13%;
}