body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 72px;
}
#welcome{
    color: black;
}
#name{
    color: black;
}
.name-color{
    color: red;
}
#identity{
    text-align: justify;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}