body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
#welcome{
    color: black;
}
#name{
    color: black;
}
.orange-color{
    color: orangered;
}
.identity{
    text-align: justify;
    margin-bottom: 3%;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.download-resume{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}
.objective{
    text-align: justify;
    margin-right: 13%;
    margin-bottom: 3%;
}
.experience-area{

}
.responsibility{
    text-align: justify;
    margin-right: 3%;
}
.experience-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px 50px orangered;
}